<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<div>
    <h2>Добавить пользователя</h2><br><br>
    <form action="#" th:action="@{/addUser}" th:object="${newUser}" method="post">
        Name <input type="text" th:field="*{name}" placeholder="Write Name Here"/> <br><br>
        Email <input type="text" th:field="*{email}" placeholder="Write Email Here"/><br><br>
        <input type="submit" value="Add" />
    </form>

</div>
</body>
</html>