<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
        <h2>Список пользователей</h2><br><br>
    <table th:cellpadding="3">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.getName()}"/>
            <td th:text="${user.getEmail()}"/>
            <td><a th:href="@{/showUpdateUserForm/{id}(id=${user.getId()})}">Update</a> </td>
            <td><a th:href="@{/deleteUser/{id}(id=${user.getId()})}">Delete</a> </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{showNewUserForm}">Add User</a>

</body>
</html>