<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<div>
    <h2>Обновить данные пользователя</h2><br><br>
    <form action="#" th:action="@{/updateUser}" th:object="${updateUser}" method="post">
        <input type="hidden" th:field="*{id}">
        Name <input type="text" th:field="*{name}" /> <br><br>
        Email <input type="text" th:field="*{email}"/><br><br>
        <input type="submit" value="Update" />
    </form>

</div>
</body>
</html>